/*RESPONSIVE TABLET*/
@media (max-width: 1000px) {
  /*HEADER*/
  nav {
    display: none;
  }
  .header-container {
    justify-content: space-between;
    width: 100%;
  }
  .branding-container {
    width: 100%;
  }
  .images-responsive {
    display: flex;
    margin-right: 30px;
  }
  .images-responsive img:not(:last-child) {
    margin-right: 16px;
  }
  .main-article {
    display: none;
  }
  /*CONTENT*/
  main {
    width: 100%;
  }
  .main-container {
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }
  .main-container img {
    width: 100%;
  }
  .content h1 {
    margin-bottom: 0px;
  }
  .content h2 {
    margin-bottom: 0px;
  }
  .content {
    margin: 50px 16px;
    width: calc(100% - 32px);
    grid-gap: 20px;
    align-items: center;
  }
  /*ARTICLES*/
  .second-container {
    flex-direction: column;
  }
  .main-article {
    border-right: none;
    border-bottom: 4px double lightgray;
    width: 100%;
  }
  .main-container {
    width: 100%;
  }
  .articles-list {
    width: 100%;
  }
}

/*RESPONSIVE SECTION*/
@media (max-width: 480px) {
  .content {
    margin: 32px 16px;
    align-items: initial;
  }
}

@media (max-width: 450px) {
  /*HEADER*/
  .branding-container h1,
  .branding-container h2 {
    display: none;
  }
  .branding-container {
    width: 25%;
    justify-content: center;
    margin-left: 0;
  }
  .images-responsive {
    width: 75%;
    justify-content: space-around;
    margin-right: 0;
  }
  /*CONTENT*/
  .content {
    grid-gap: 0px;
  }

  .content h1 {
    margin-bottom: 32px;
  }
  .content h2 {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .button-cta p {
    font-size: 30px;
  }
  .button-cta {
    padding: 20px;
  }
  /*ARTICLES*/

  .articles-list {
    width: 100%;
  }
}
@media (max-width: 250px) {
  .images-responsive {
    display: none;
  }
  .button-cta p {
    font-size: 20px;
  }
  .button-cta {
    padding: 10px;
  }
}
