/*RESPONSIVE DESKTOP*/
@media (max-width: 2000px) {
  .images-responsive {
    display: none;
  }
}

/*RESPONSIVE TABLET*/
@media (max-width: 1000px) {
  nav a {
    display: none;
  }
  .images-responsive {
    display: flex;
    margin-left: 450px;
  }
  .images-responsive img {
    margin-right: 100px;
  }
  main {
    width: fit-content;
  }
  .main-container {
    margin-left: 0px;
    margin-right: 0px;
    flex-direction: column;
  }
  .main-container img {
    width: fit-content;
  }
  .content h1 {
    margin-bottom: 0px;
  }
  .content h2 {
    margin-bottom: 0px;
  }
  .content {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    grid-gap: 20px;
    margin-bottom: 50px;
  }
}

/*RESPONSIVE SECTION*/
@media (max-width: 580px) {
  .branding-container h1 {
    display: none;
  }
  .branding-container h2 {
    display: none;
  }
  .images-responsive {
    margin-left: 300px;
  }
  .images-responsive img {
    margin-right: 250px;
  }
  .content {
    width: 500px;
    margin-left: 16px;
  }
  .content h1 {
    margin-bottom: 32px;
    font-size: 50px;
  }
  .content h2 {
    font-size: 38px;
    margin-bottom: 24px;
  }
  .button-cta p {
    font-size: 20px;
  }
  .button-cta {
    padding: 20px;
  }
}
@media (max-width: 250px) {
  .images-responsive {
    display: none;
  }
}
