/*NAV SECTION*/
.nav-container {
  height: 64px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.branding-container {
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 32px;
}
.branding-container h1 {
  font-family: Helvetica;
  font-weight: bold;
  color: black;
  margin-right: 5px;
  margin-left: 10px;
}
.branding-container h2 {
  font-family: Helvetica;
  font-weight: normal;
  color: gray;
}
nav a {
  text-decoration: none;
  font-family: Helvetica;
  color: gray;
  margin-right: 16px;
}

/*MAIN SECTION*/
main {
  background-color: rgba(0, 0, 0, 0.1);
}
.main-container {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}
.main-container img {
  width: 60%;
}
.content {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.content h1 {
  font-family: Helvetica;
  font-weight: bolder;
  color: gray;
  font-size: 30px;
  text-align: left;
  margin-bottom: 16px;
}
.content h2 {
  font-family: Helvetica;
  font-weight: boldl;
  color: gray;
  font-size: 15px;
  text-align: left;
  margin-bottom: 16px;
}
.button-cta {
  background-color: gray;
  padding: 8px;
}
.button-cta p {
  font-family: helvetica;
  color: white;
  text-align: center;
}
