/*NAV SECTION*/
header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container {
  display: flex;
  align-items: center;
}
.images-responsive {
  display: none;
}

.branding-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 32px;
}
.branding-container h1 {
  font-family: Helvetica;
  font-weight: bold;
  color: black;
  margin-right: 5px;
  margin-left: 10px;
}
.branding-container h2 {
  font-family: Helvetica;
  font-weight: normal;
  color: gray;
}
nav a {
  text-decoration: none;
  font-family: Helvetica;
  color: gray;
  margin-right: 16px;
}
.banners-mobile {
  display: none;
}
.banners-mobile img {
  display: none;
}
/*MAIN SECTION*/
main {
  background-color: rgba(0, 0, 0, 0.1);
}
.main-container {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 32px;
}
.main-container img {
  width: 60%;
}
.content {
  width: calc(40% - 24px);
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.content h1 {
  font-family: Helvetica;
  font-weight: bolder;
  color: gray;
  font-size: 30px;
  text-align: left;
  margin-bottom: 16px;
}
.content h2 {
  font-family: Helvetica;
  font-weight: boldl;
  color: gray;
  font-size: 15px;
  text-align: left;
  margin-bottom: 16px;
}
.button-cta {
  background-color: gray;
  padding: 8px;
}
.button-cta p {
  font-family: helvetica;
  color: white;
  text-align: center;
}
main {
  width: auto;
}
/*SECOND CONTAINER*/

.second-container {
  width: 100%;
  background-color: white;
  display: flex;
}
.main-article {
  width: 60%;
  border-right: lightgray solid 1px;
  padding: 32px 24px;
}
.main-article img {
  width: 100%;
}
.main-article h1 {
  font-family: Helvetica;
  color: gray;
  font-size: 30px;
  font-weight: bolder;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 24px;
}
.main-article h2 {
  font-family: Helvetica;
  color: gray;
  font-size: 15px;
  margin-bottom: 80px;
}
.main-article p {
  font-family: Helvetica;
  color: gray;
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 32px;
}
/*ARTICLES LIST*/
.articles-list {
  width: 40%;
}

/*ARTICLE 1*/

.article-1 {
  padding-top: 32px;
  display: flex;
  padding-bottom: 16px;
  padding-left: 16px;
  border-bottom: 4px double lightgray;
}
.article-1 img {
  width: 35%;
}
.info-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}
.info-1 h2 {
  font-family: Helvetica;
  font-weight: bolder;
  color: gray;
  font-size: 30px;
  margin-bottom: 10px;
}
.info-1 h3 {
  font-family: Helvetica;
  font-weight: normal;
  color: gray;
  font-size: 15px;
  margin-bottom: 10px;
}
.info-1 p {
  font-family: Helvetica;
  font-weight: normal;
  color: lightpink;
  font-size: 15px;
}
/*ARTICLE 2*/
.article-2 {
  padding-top: 32px;
  display: flex;
  padding-bottom: 16px;
  padding-left: 16px;
}
.article-2 img {
  width: 35%;
}
.info-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}
.info-2 h2 {
  font-family: Helvetica;
  font-weight: bolder;
  color: gray;
  font-size: 30px;
  margin-bottom: 10px;
}
.info-2 h3 {
  font-family: Helvetica;
  font-weight: normal;
  color: gray;
  font-size: 15px;
  margin-bottom: 10px;
}
.info-2 p {
  font-family: Helvetica;
  font-weight: normal;
  color: lightpink;
  font-size: 15px;
}
/*ARTICLE 3*/
.article-3 {
  padding-top: 32px;
  display: flex;
  padding-bottom: 16px;
  background-color: lightgray;
  padding-left: 16px;
}
.article-3 img {
  width: 35%;
}
.info-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}
.info-3 h2 {
  font-family: Helvetica;
  font-weight: bolder;
  color: gray;
  font-size: 30px;
  margin-bottom: 10px;
}
.info-3 h3 {
  font-family: Helvetica;
  font-weight: normal;
  color: gray;
  font-size: 15px;
  margin-bottom: 10px;
}
.info-3 p {
  font-family: Helvetica;
  font-weight: normal;
  color: white;
  font-size: 15px;
}
/*THIRD CONTAINER*/
.third-container {
  width: 100%;
  padding-bottom: 32px;
}
.third-container h1 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 30px;
  color: gray;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
/*COURSES*/
.courses-container {
  flex-direction: column;
  align-items: center;
}
.row-1 {
  display: flex;
  grid-gap: 32px;
  margin-bottom: 32px;
  justify-content: center;
}
.row-2 {
  display: flex;
  grid-gap: 32px;
  justify-content: center;
}
.courses {
  width: 350px;
  height: 300px;
  background-color: white;
}
.courses img {
  width: 100%;
}
.courses-content {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}
.courses-content h2 {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
  color: gray;
  margin-bottom: 8px;
}
.courses-content h3 {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: light;
  color: gray;
  margin-bottom: 8px;
}
.courses-content p {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: light;
  color: gray;
}
/*HEADINGS*/
.headings {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-left: 72px;
  margin-right: 72px;
}
/*FOURTH CONTAINER*/
.fourth-container {
  background-color: white;
  width: 100%;
  border-bottom: 1px solid lightgray;
}
.fourth-container h1 {
  text-align: center;
  padding: 32px 32px;
  font-family: Helvetica;
  color: gray;
  font-size: 30px;
  font-weight: bolder;
}
.video-containers {
  display: flex;
  padding-bottom: 32px;
}
video {
  width: 100%;
}
.main-video {
  margin-left: 24px;
  margin-right: 24px;
  width: 60%;
}
.main-video h2 {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
  color: gray;
}
.main-video h3 {
  font-family: Helvetica;
  font-weight: normal;
  color: gray;
  font-size: 15px;
}
.video-miniatures {
  width: 40%;
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
}
.mini-1,
.mini-2 {
  display: flex;
}
.mini-1 img,
.mini-2 img {
  width: 35%;
  height: auto;
}
.mini-content {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mini-content h2 {
  font-family: Helvetica;
  font-size: 15px;
  font-weight: bold;
  color: gray;
}
.mini-content h3 {
  font-family: Helvetica;
  font-weight: normal;
  color: gray;
  font-size: 15px;
}
.mini-1 {
  background-color: lightgray;
  padding-top: 16px;
  padding-left: 16px;
  padding-bottom: 16px;
}
