/*NAV SECTION*/
header {
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container {
  display: flex;
  align-items: center;
}

.branding-container {
  display: flex;
  align-items: center;
  margin-left: 30px;
  height: 32px;
}
.branding-container h1 {
  font-family: Helvetica;
  font-weight: bold;
  color: black;
  margin-right: 5px;
  margin-left: 10px;
}
.branding-container h2 {
  font-family: Helvetica;
  font-weight: normal;
  color: gray;
}
nav a {
  text-decoration: none;
  font-family: Helvetica;
  color: gray;
  margin-right: 16px;
}
.images-responsive {
  display: none;
}
/*MAIN SECTION*/
main {
  background-color: rgba(0, 0, 0, 0.1);
}
.main-container {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}
.main-container img {
  width: 60%;
}
.content {
  width: calc(40% - 24px);
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}
.content h1 {
  font-family: Helvetica;
  font-weight: bolder;
  color: gray;
  font-size: 30px;
  text-align: left;
  margin-bottom: 16px;
}
.content h2 {
  font-family: Helvetica;
  font-weight: boldl;
  color: gray;
  font-size: 15px;
  text-align: left;
  margin-bottom: 16px;
}
.button-cta {
  background-color: gray;
  padding: 8px;
}
.button-cta p {
  font-family: helvetica;
  color: white;
  text-align: center;
}
main {
  width: auto;
}
/*SECOND CONTAINER*/

.second-container {
  width: 100%;
  background-color: white;
}
.main-article {
  width: 60%;
  border-right: lightgray solid 1px;
  padding: 32px 24px;
}
.main-article img {
  width: 100%;
}
.main-article h1 {
  font-family: Helvetica;
  color: gray;
  font-size: 30px;
  font-weight: bolder;
  text-align: left;
  margin-top: 32px;
  margin-bottom: 24px;
}
.main-article h2 {
  font-family: Helvetica;
  color: gray;
  font-size: 15px;
  margin-bottom: 24px;
}
.main-article p {
  font-family: Helvetica;
  color: gray;
  font-weight: bold;
  font-size: 10px;
  margin-bottom: 32px;
}
.articles-list {
  width: 40%;
}
